# Environment variables
.env
config/.env

# Python cache
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/

docs\1_Demo_recording_Eval_dataset.mp4
docs\2_Demo_recording_multi_turn_feature.mp4